body {
    background: none repeat scroll 0 0 #FFFFFF;
    width: 600px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 0.795em;
    margin: 0 auto;
    min-width: 598px;
    padding: 0;
}
.container{
    background: none repeat scroll 0 0 #FFFFFF;
}
.breadcrumb{
    clear: both;
    background-color: #5A7FB2;
    height:20px;
}

h2 {
    color: #51443B;
}

h3, h3 a {
    font-size: 1.1em;
    color: #5A7FB2;
    text-decoration: none;
}

#detail form div div strong {
    display: block;
    float: right;
    margin-right:5px;
}
.buttons{
    display: block;
    clear: both;
    text-align: right;
    margin: 10px 0;
}
#detail form div label {
    display: block;
    float: left;
    font-size: 0.9em;
    font-weight: bold;
    width: 10em;
}
#price{
    clear: both;
    display: block;
    overflow: hidden;
    border-top: 1px dotted #D8D8D8;
    margin: 1em 0 0;
    padding-top:10px;
}
.price {
    font-size: 1.5em;
    white-space: nowrap;
    color: #F2632B;
}

#detail form h3{
    color: #5A7FB2;
}
#detail form{
    float: right;
    margin: 1em 0 0;
    padding: 0 0 0.5em;
    width: 23em;
    border-bottom: 1px dotted #D8D8D8;
}
#detail .description{
    clear: both;
}
.description{
    padding:5px;
}
.description p {
    text-align:justify;
}
#thumb{
    clear: both;
    float: left;
    margin: 1em 0 0 0.5em;
    padding: 3px 5px 3px 3px;
    width: 280px;
    margin-bottom:5px;    
}
#thumb img{
    background-color: #F5F5F5;
    border: 1px solid #999999;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 4px;
}

ul.thumbs {
    list-style: none outside none;
    margin-top:0px;
    margin-bottom: 2px;
    overflow: hidden;
    padding: 0;
}
ul.thumbs li {
    float: left;
    margin-left: 2px;
}

h2 {
    font-size: 1.5em;
}
#menu {
    float: left;
    font-weight: bold;
    line-height: 33px;
    margin: 0;
    padding: 0;
    width: 100%;
}
#menu, #menu li, .bg_color_7 {
    background-color: #FFFFFF;
}

#menu li {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    border-right: 1px dotted #D8D8D8;
}

#menu li a:hover, #menu li.current a{
    background-color: #5A7FB2;
    color: #FFFFFF;
    
} 
#menu li a {
    display: block;
    margin: 0;
    padding: 0 1em;
}

#main {
    float: left;
    height: auto;
    margin: 0 0 1em;
    min-width: 598px;
    overflow: hidden;
    width: 47em;
}
#header{
    font-size: 0.8em;
    line-height: 2em;
    overflow: hidden;
    width: 100%;
    background-color: #F2F1EF;    
}
#content {
    clear: both;
    margin: 0;
    padding: 0;
}

.button {
	padding: 5px 10px;
	display: inline;
	background: #777 url('../images/button.png') repeat-x bottom;
	border: none;
	color: #fff;
	cursor: pointer;
	font-weight: bold;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	text-shadow: 1px 1px #666;
	text-decoration:none;
 }
.button:hover {
	background-position: 0 center;
 }
.button:active {
	background-position: 0 top;
	position: relative;
	top: 1px;
	padding: 6px 10px 4px;
 }
.button.red { background-color: #e50000; }
.button.purple { background-color: #9400bf; }
.button.green { background-color: #58aa00; }
.button.orange { background-color: #ff9c00; }
.button.blue { background-color: #2c6da0; }
.button.black { background-color: #333; }
.button.white { background-color: #fff; color: #000; text-shadow: 1px 1px #fff; }
.button.small { font-size: 75%; padding: 3px 7px; }
.button.small:active { padding: 4px 7px 2px; background-position: 0 top; }
.button.large { font-size: 125%; padding: 7px 12px; }
.button.large:active { padding: 8px 12px 6px; background-position: 0 top; }

.destaques{
    clear: both;
    padding:0;
}

.destaque .thumb{
    background-color: #F5F5F5;
    border: 1px solid #999999;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 2px;    
}
.destaques li{
    display: block;
    float: left;
    height: 25em;
    margin: 0 2px 0 0;
    padding: 0;
    width: 197px;
}