{% extends "base.html" %}

{% load thumbnail store_currency %}

{% block content %}
<div id="cart">		
	<h1>Carrinho de compras</h1>
	{% if cart %}
	<form class="qtyform" id="form-{{ item.id }}" action="{% url change-cart %}" method="post">
		{% csrf_token %}	
	   <table class="carrinho">
    	<thead>
    		<tr>
    			<th>Descrição</th>
    			<th>Quantidade</th>
				<th>Pre&ccedil;o</th>
				<th>Delete</th>
				<th>Total</th>
    		</tr>
    	</thead>
		<tbody>
	       {% for item in cart %}
	       <tr>
				<td>
					<div class="basket-images">
						<a href="{{ item.product.content_object.get_absolute_url }}">
							{% thumbnail item.product.content_object.photo "65x65" crop="center" as im %}
							    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ item.product.product.title }}" />
							{% endthumbnail %}
						</a>
					</div>
					<div class="basket-desc">
						<h3><a href="{{item.content_object.get_absolute_url}}">{{ item.product }}</a></h3>
					</div>
				</td>

	            <td>
	                <input type="hidden" name="cartitem-{{ forloop.counter }}" value="{{ item.id }}" />
					<input type="text" class="quantity" size="3" name="quantity-{{ forloop.counter }}" id="id_quantity" value="{{ item.quantity }}" />
	            </td>
				<td>{{ item.product.price|currency }}</td>
				<td class="remove">
				    <a href="{% url remove-from-cart item.product.pk %}">Remover</a>
				</td>				
				<td><strong>{{item.subtotal|currency}}</strong></td>
	       </tr>
	       {% endfor %}
		</tbody>
	   </table>
	   <script type="text/javascript" charset="utf-8">
	       $(document).ready(function() {
	           $('.quantity').keyup(function(){
	               var frm = $('.qtyform');
	               frm.submit();
	           });
	       });
	   </script>
	   
       	<div class="frete">
           <strong>Digite seu cep e calcule o frete</strong><br />
           <label for="cep">CEP: </label><input type="text" class="text small" name="cep" value="" id="cep" alt="cep" maxlength="9" />
           <button type="submit" name="shipping" class="button green large">Calcular Frete</button>
           {% if shipping %}
           <ul>
               {% for sh  in shipping %}
               <li>
                   {{sh.Codigo}} : <strong>+{{sh.Valor|currency}}</strong>
               </li>
               {% endfor %}
           </ul>
           {% endif %}
       	</div>

 	   <div id="observacao">
 	       <p>Não está pronto para finalizar sua compra? <a href="{{store.get_absolute_url}}">Continue comprando</a>...</p>
 	   </div>
	   
	   <div id="total">
			<div id="price">
				<h3>Total: <span>{{cart.order.subtotal|currency}}</span></h3>
			</div>
	   </div>
	   <div class="buttons">
	       <button class="button blue large" type="submit" name="update">Atualizar</button>	
	       <button class="red button large" type="submit" name="checkout">Finalizar compra</button>	
	   </div>
	</form>
	
	{% else %}	
		<div class="alerta">Nenhum item adicionado.</div>
		<div class="clear"></div>
		<p>
		    <a href="{{store.get_absolute_url}}">Retornar a loja</a>
		</p>
	{% endif %}
</div>

{% endblock %}