<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{MEDIA_URL}}css/style.css" type="text/css" media="screen" charset="utf-8">
    <script type="text/javascript" src="{{ MEDIA_URL }}javascript/jquery-1.5.2.min.js"></script>
    {% block head %}{% endblock %}
</head>
<body>
    <div id="main" class="container">
        <div id="header">
            {% block header %}
            <ul class="left">
            <li id="userChart">
                <a title="Shopping Basket" class="bntBasket" href="">Shopping Basket</a>
                <strong>&nbsp;(<span id="shopBasketCount">0</span>&nbsp;article(s)&nbsp;:&nbsp;<span id="shopBasketPrice">R$ 0,00</span>)</strong>
            </li>
            </ul>            
            {% endblock %}
        </div>
        <div class="signup">
            <p><a href="#">Crie a sua propria loja</a></p>
        </div>
        {% block menu %}
            <ul id="menu">
                <li class="current"><a href="">Shop</a></li>
                <li><a href="">Checkout</a></li>
                <li><a href="">Help</a></li>
                <li><a href="">About</a></li>
            </ul>
        {% endblock %}
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>