{% extends "base.html" %}
{% load thumbnail store_currency %}
{% block content %}
    <h2>Destaques</h2>
    <ul class="destaques">
        {% for product in products %}
            <li class="destaque">
                <div class="moldura">
                    <a href="{{product.get_absolute_url}}">
    				{% thumbnail product.photo "190x190" crop="center" as im %}
    				    <img class="thumb" alt="{{product.title}}" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
    				{% endthumbnail %}				
    				</a>
                </div>
                <div>
                    <h3><a href="{{product.get_absolute_url}}">{{product.title}}</a></h3>
                    <strong class="price">{{product.price|currency}} </strong>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}